button:focus{
	outline: none;
}
.btn{
	background-color: pink;
	cursor: pointer;
    padding: 7px 25px;
	border-radius: 4px;
	border: 1px solid white;
	color: white;
}
.btn:hover{
	background-color: inherit;
	color: pink;
	border: 1px solid pink;
}
.btn-sm{
	padding: 5px 10px !important;
}
.btn-lg{
	padding: 9px 20px !important;
}

.btn-geno {
	background-color: inherit;
	color: #808080;
	border: 1px solid #808080;
	border-radius: 50px;
	padding: 7px 13px;
	font-weight: lighter;
	text-decoration: none;
	opacity: 0.7;
}
.btn-geno:hover {
	opacity: 0.9;
	border: 1px solid #808080;
	color: inherit;
}
.btn-light {
	cursor: pointer;
	color: black;
	border: 1px solid white;
	border-radius: 4px;
	padding: 7px 13px;
	font-weight: lighter;
	text-decoration: none;
	background-color: inherit;
}
.btn-light:hover {
	border: 1px solid white;
	opacity: 0.7;
	color: inherit;
}
.btn-accept {
	font-weight: bold;
    font-size: 16px;
	cursor: pointer;
	color: #00ff00;
	border: 1px solid #00ff00;
	border-radius: 5px;
	padding: 7px 13px;
	font-weight: lighter;
	text-decoration: none;
	opacity: 0.7;
	background-color: inherit;
}
.btn-accept:hover {
	opacity: 0.9;
	color: white;
	background-color: #00ff00;
	opacity: .8;
	border: 1px solid #00ff00;
}
.btn-twitter {
	cursor: pointer;
	color: white;
	border-radius: 4px;
	padding: 7px 13px;
	font-weight: bolder;
	text-decoration: none;
	background-color: #d4321d;
}
.btn-twitter:hover {
	color: white;
	background-color: red;
	border: none;
}
.btn-tweet {
	cursor: pointer;
    color: #d4321d;
    background-color: inherit;
	border-radius: 4px;
	padding: 7px 24px;
	font-weight: bolder;
	text-decoration: none;
    border: 1px solid #d4321d;
    opacity: .7;
}
.btn-tweet:hover {
    background-color: #d4321d;
    border: none;
    opacity: 1;
    color: white;
}
.btn-bluee{
	color: #0000ff;
	border-radius: 4px;
	border: 1px solid #0000ff;
	opacity: .5;
	cursor: pointer;
	padding: 7px 13px;
	font-weight: bolder;
	text-decoration: none;
	background-color: inherit;
}
.btn-bluee:hover {
	color: white;
	border: 1px solid #0000ff;
	background-color: #0000ff;
	opacity: .7;
}